@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.caosdb-f-query-cql-hint {
  border-radius: 2rem;
  background-color: darken(white, 15%);
  color: lighten(black, 15%);
  padding: 0.1rem 0.4rem;
}

.caosdb-f-query-form-sug {
  display: none;
}

nav .navbar-collapse {
  align-items: start;
  flex-wrap: wrap;

  form {
    display: flex;
    flex-direction: column;
  }
}

.caosdb-f-query-panel.condensed:focus-within,
.caosdb-f-query-panel {
  margin-top: 0.5rem;
  width: 100%;
  order: 1;

  .caosdb-f-query-form {
    order: unset;
    height: 44px;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 2rem;

    &:hover,
    &.focus {
      box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    }

    &.focus {
      &.open {
        ol.caosdb-f-query-form-sug {
          margin-top: 0.5rem;
          background-color: white;
          display: inline-block;
          max-height: 200px;
          position: absolute;
          overflow-y: auto;
          box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
          padding: 0px;

          li {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            height: 24px;
            list-style-type: none;
            &.highlight {
              background-color: darken(white, 15%);
            }
            &:hover {
              background-color: darken(white, 15%);
            }
          }
        }
      }
      &.submit {
        &.open {
          .caosdb-f-query-form-sug {
            display: none;
          }
        }
      }
    }

    button {
      background-color: inherit;
      border: none;
    }

    input {
      border: none;

      &:focus,
      &:focus-visible {
        outline: none;
      }
    }
  }

  form {
    flex-direction: column;
  }

  .caosdb-f-query-tab-list {
    margin-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .caosdb-f-query-tab-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    input.form-control {
      display: unset;
      width: unset;
    }
  }

  .caosdb-f-query-tab {
    height: 44px;
    margin-right: 1rem;
    padding: 6px;
    background-color: unset;
    border: none;
    border-bottom: 0.2rem solid transparent;
    &.active {
      border-bottom: 0.2rem solid gray;
    }
  }

  .caosdb-f-query-filter-property-selector {
    flex-basis: 100%;
  }
}

@include media-breakpoint-up(lg) {
  .caosdb-f-query-panel {
    .caosdb-f-query-tab-filters {
      display: grid;
      grid-template-columns: max-content max-content auto max-content;
      grid-column-gap: 0.5rem;
      padding: 0.2rem 0rem;

      input.form-control {
        display: unset;
        width: unset;
      }
    }
  }

  .caosdb-f-query-panel.condensed {
    margin-top: 0;
    width: unset;
    order: unset;

    form {
      flex-direction: row;
    }

    .caosdb-f-query-filters-toggle {
      display: none;
    }

    .caosdb-f-query-tab-list {
      margin-top: 0rem;
    }

    .caosdb-f-query-tab {
      height: 38px;
    }

    .caosdb-f-query-tab-filters {
      display: none;
    }

    .caosdb-f-query-form {
      height: 38px;
      order: 1;
      padding-left: 1rem;
      padding-top: 0.3rem;
      padding-right: 1rem;
      padding-bottom: 0.3rem;

      .caosdb-f-query-form-sug {
        display: none;
      }
    }
  }
}
