@import "./components/QueryForm";

$footer-body-color: lightgray;

.user-component .alert {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-size: 1rem;
    margin: 0;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
}

footer {
    color: darken($footer-body-color, 30%);

    .nav {
        border-bottom: 1px solid darken($footer-body-color, 20%);
    }

    .nav-link {
        color: darken($footer-body-color, 30%) !important;
    }

    .nav-link:hover {
        color: darken($footer-body-color, 40%) !important;
    }

    .footer-body {
        border-top: 1px solid darken($footer-body-color, 10%);
        background-color: $footer-body-color;
        min-height: 20rem;
    }

    .footer-border {
        height: 3rem;
        box-shadow: 0px -5px 7px -5px rgba(0, 0, 0, 0.4) inset;
        -webkit-box-shadow: 0px -5px 7px -5px rgba(0, 0, 0, 0.4) inset;
        -moz-box-shadow: 0px -5px 6px -7px rgba(0, 0, 0, 0.4) inset;
    }
}

.caosdb-checkbox {
    .caosdb-checkbox-icon {
        font-size: 1.3em;
    }

    .caosdb-check-box-input {
        display: none;
    }

    & {
        cursor: pointer;
    }

    &.read-only {
        cursor: auto;
    }
}

.color-light-green {
    color: #b4e600;
}

.minicard {
    border: 1px solid red;
    width: 400px;
    display: flex;

    .minicard-title {
        background-color: red;
    }
}
